*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

select,
input[type=text],
input[type=tel],
input[type=email] {
  border-radius: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address {
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

.-tab {
  display: none;
}

.-sp {
  display: none;
}

@media screen and (max-width: 960px) {
  .-pc {
    display: none;
  }

  .-tab {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .-sp {
    display: block;
  }

  .site-main {
    min-width: auto;
  }

  select,
input[type=text],
input[type=tel],
input[type=email],
textarea {
    font-size: 16px;
  }
}
.-en {
  font-family: "Barlow Condensed", sans-serif;
}

.heading {
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 90px;
  font-weight: 500;
  line-height: 1.1;
  color: #1f2a66;
}
.heading::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  content: "";
  background-color: #e1e1e1;
}
.heading.-light {
  color: #ffffff;
}
.heading.-light::after {
  background-color: #8a8a8a;
}
.heading.-light + .heading__subHeading {
  color: #ffffff;
}
.heading__wrapper {
  margin-top: 48px;
  text-align: center;
}
.heading__wrapper.-company {
  margin-top: 0;
}
.heading__wrapper.-company .heading {
  font-size: 36px;
  font-weight: 600;
  color: #836c39;
}
.heading__wrapper.-company .heading::after {
  bottom: -12px;
}
.heading__subHeading {
  display: block;
  margin-top: 4px;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}

.subHeading {
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 30px;
}
.subHeading::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 7px;
  content: "";
  background-color: #c1c1c1;
}
.subHeading__wrapper {
  text-align: center;
}

.side-conversion {
  position: absolute;
  top: -50px;
  right: 24px;
  display: inline-flex;
  flex-direction: column;
  margin: 0 0 0 auto;
}
.side-conversion.-fixed {
  position: fixed;
  top: 24px;
}

.side-conversion-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 57%;
  width: 66px;
  height: 66px;
  color: #ffffff;
  border-radius: 8px;
}
.side-conversion-link.-primary {
  background-color: #836c39;
}
.side-conversion-link.-secondary {
  background-color: #000;
}
.side-conversion-link svg {
  width: 12px;
}
.side-conversion-link:not(:first-child) {
  margin-top: 8px;
}

.side-conversion-text {
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 1;
  text-align: center;
}
.side-conversion-text.-comp {
  display: inline-block;
  margin-bottom: 0;
  text-indent: -3px;
  letter-spacing: -3px;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 6px 20px;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  background-color: #000;
}
.button svg {
  width: 8px;
}
.button__wrapper {
  text-align: center;
}
.button__text {
  margin-right: 12px;
}

.bottom-conversion {
  display: none;
}

@media screen and (max-width: 480px) {
  .side-conversion {
    display: none;
  }

  .heading {
    font-size: 68px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .heading::after {
    bottom: -4px;
    left: 50%;
    width: 80%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .heading__wrapper {
    margin-top: 32px;
  }
  .heading__wrapper.-company .heading {
    font-size: 30px;
  }
  .heading__wrapper.-company .heading::after {
    width: 100%;
  }
  .heading__subHeading {
    margin-top: 6px;
  }

  .button {
    font-size: 15px;
  }

  .subHeading {
    font-size: 25px;
  }

  .bottom-conversion {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
  }

  .bottom-conversion-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.66vw 0;
    color: #ffffff;
  }
  .bottom-conversion-link svg {
    width: 26%;
    margin-right: 4px;
  }
  .bottom-conversion-link.-tel {
    width: 20%;
    background-color: #1f2a66;
  }
  .bottom-conversion-link.-contact {
    width: 44%;
    background-color: #b2b2b2;
  }
  .bottom-conversion-link.-mypage {
    width: 36%;
    background-color: #836c39;
  }

  .bottom-conversion-text {
    font-size: 10px;
  }
  .bottom-conversion-text.-en {
    font-size: 17px;
  }
}
.l-doubleCol {
  display: flex;
}

.header {
  position: relative;
  display: flex;
  background-color: #1f2a66;
}
.header__logo {
  position: absolute;
  left: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  padding: 12px 0 8px;
  margin: 0;
  background-color: #ffffff;
}
.header__logo svg {
  width: 100px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 2.4vw 0 220px;
}
.header__navList {
  display: flex;
  flex: 1;
  justify-content: center;
}
.header__navItem:not(:first-child) {
  margin-left: 7%;
}
.header__navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: #ffffff;
}
.header__navLink.-en {
  font-size: 22px;
}
.header__navConversion {
  display: flex;
  align-items: center;
}
.header__navConversionList {
  display: flex;
}
.header__navConversionItem {
  margin-left: 12px;
}
.header__navConversionLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 84px;
  padding: 3px 0;
  border-radius: 8px;
}
.header__navConversionLink.-en {
  font-size: 13px;
}
.header__navConversionLink.-contact {
  color: #000000;
  background-color: #ffffff;
}
.header__navConversionLink.-mypage {
  color: #ffffff;
  background-color: #836c39;
}
.header__navConversionText {
  font-size: 10px;
}
.header__navConversionText.-en {
  font-size: 13px;
}

@media screen and (max-width: 960px) {
  .header {
    width: 100%;
    height: 51px;
  }
  .header__logo {
    left: 0;
    width: 20%;
    min-width: 72px;
    max-width: 128px;
    padding: 12px 0 8px;
  }
  .header__logo svg {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .header__nav {
    display: none;
  }
  .header__hammenu {
    position: absolute;
    right: 0;
  }
  .header__trigger, .header__trigger span {
    box-sizing: border-box;
    display: inline-block;
    transition: all 0.4s;
  }
  .header__trigger {
    position: relative;
    z-index: 200;
    width: 50px;
    height: 50px;
  }
  .header__trigger span {
    position: absolute;
    left: 50%;
    width: 26px;
    height: 2px;
    background-color: #ffffff;
  }
  .header__trigger span:first-of-type {
    -webkit-transform: translate(-50%, 16px);
    transform: translate(-50%, 16px);
  }
  .header__trigger span:nth-of-type(2) {
    top: 49%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .header__trigger span:nth-of-type(3) {
    -webkit-transform: translate(-50%, 32px);
    transform: translate(-50%, 32px);
  }
  .header__trigger.active span:nth-of-type(1) {
    background-color: #ffffff;
    -webkit-transform: translate(-12px, 26px) rotate(-45deg);
    transform: translate(-12px, 26px) rotate(-45deg);
  }
  .header__trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .header__trigger.active span:nth-of-type(3) {
    background-color: #ffffff;
    -webkit-transform: translate(-12px, 26px) rotate(-45deg);
    transform: translate(-12px, 26px) rotate(45deg);
  }
  .header__hammenuWrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: none;
    width: 100vw;
    height: 100vh;
    min-height: 560px;
    overflow-y: scroll;
    background-color: rgba(31, 42, 102, 0.9);
  }
  .header__hammenuWrapper .header__hammenuItem {
    text-align: center;
    letter-spacing: 3px;
  }
  .header__hammenuWrapper .header__hammenuItem:not(:first-child) {
    margin-top: 4vw;
  }
  .header__hammenuInner {
    margin: 8vh auto 0;
  }
  .header__hammenuLink {
    display: inline-flex;
    flex-direction: column;
    color: #ffffff;
  }
  .header__hammenuText {
    font-size: 12px;
  }
  .header__hammenuText.-en {
    font-size: 30px;
  }
  .header__hammenuConversion {
    display: flex;
    justify-content: center;
    margin: 10vw 0 0;
  }
  .header__hammenuConversion .side-conversion-link {
    width: 20vw;
    height: 20vw;
  }
  .header__hammenuConversion .side-conversion-link:not(:first-child) {
    margin: 0 0 0 20px;
  }
  .header__hammenuConversion .side-conversion-link.-secondary {
    color: #1f2a66;
    background-color: #ffffff;
  }
  .header__hammenuConversion .side-conversion-link.-secondary .icon_angle {
    stroke: #1f2a66;
  }
  .header__hammenuConversion .side-conversion-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    font-weight: 600;
  }
}
.footer {
  padding-top: 36px;
  margin-top: 64px;
  background-color: #1f2a66;
}
.footer.-confined {
  margin-top: 0;
}
.footer__toTop {
  width: 72px;
  margin: -72px auto 0;
}
.footer__logo {
  width: 126px;
}
.footer__logo a {
  display: flex;
  align-items: center;
  width: 100%;
}
.footer__logo svg {
  display: flex;
  width: 100%;
}
.footer__upper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.footer__upperLinkNav {
  display: flex;
  margin-left: 56px;
}
.footer__upperLinkList {
  margin: 0;
}
.footer__upperLinkList:not(:first-child) {
  margin-left: 40px;
}
.footer__upperLinkItem a {
  color: #ffffff;
}
.footer__upperLinkItem:not(:first-child) {
  margin-top: 6px;
}
.footer__lowerLinkList {
  display: flex;
  justify-content: center;
  margin: 24px 0 12px;
}
.footer__lowerLinkItem {
  padding: 0 10px;
}
.footer__lowerLinkItem a {
  color: #ffffff;
}
.footer__lowerLinkItem:not(:first-child)::before {
  margin-right: 10px;
  color: #ffffff;
  content: "|";
}
.footer__copyrightWrapper {
  padding: 6px 0;
  color: #836c39;
  text-align: center;
  background-color: #000000;
}

@media screen and (max-width: 480px) {
  .footer.home {
    padding-bottom: 45px;
  }
  .footer__logo {
    width: 28.03%;
  }
  .footer__upper {
    padding: 0 4.8vw;
    margin-top: 16px;
  }
  .footer__upperLinkNav {
    margin-left: 8vw;
  }
  .footer__upperLinkList:not(:first-child) {
    margin-left: 8vw;
  }
  .footer__upperLinkItem {
    font-size: 11px;
  }
  .footer__lowerLinkItem {
    font-size: 11px;
  }
}
.notFound__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}
.notFound__heading {
  margin: 0;
  font-size: 54px;
  font-weight: 400;
  color: #1f2a66;
}
.notFound__paragraph {
  margin: 0;
  font-size: 20px;
  text-align: center;
}
.notFound__span {
  margin-top: 8px;
  font-size: 13px;
}
.notFound__logo {
  width: 126px;
  margin-top: 56px;
}

@media screen and (max-width: 480px) {
  .notFound__paragraph {
    font-size: 15px;
  }
  .notFound__span {
    margin-top: 12px;
  }
}
.home__wrapper {
  padding-bottom: 32px;
}
.home__contentsWrapper {
  position: relative;
}
.home__mainVisualImage {
  margin-top: -1px;
}
.home__about .button__wrapper {
  margin-top: 24px;
}
.home__aboutFeatures {
  display: flex;
  justify-content: center;
  margin: 72px auto 0;
}
.home__aboutFeature {
  display: block;
  width: 12%;
}
.home__aboutFeature:not(:first-child) {
  margin-left: 16px;
}
.home__aboutParagraph {
  margin-top: 24px;
  line-height: 1.57;
  text-align: center;
}
.home__vrViewImage {
  display: block;
  margin: 60px auto 0;
  -webkit-filter: brightness(0.6);
  filter: brightness(0.6);
  opacity: 0.7;
}
.home__vrViewCaution {
  margin-top: 6px;
  text-align: center;
}
.home__linksList {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 630px;
  margin: 60px auto 0;
}
.home__linksItem {
  width: 31.75%;
  background-color: #1f2a66;
}
.home__linksIcon {
  width: 30%;
  margin: -12px auto 0;
}
.home__linksHeading {
  margin: 0 auto;
  font-size: 56px;
  font-weight: 500;
  line-height: 0.9;
  color: #ffffff;
  text-align: center;
}
.home__linksSubHeading {
  display: block;
  margin: 8px auto 0;
  font-size: 17px;
  color: #ffffff;
  text-align: center;
}
.home__linksItem {
  padding-bottom: 24px;
}
.home__news .heading__wrapper {
  margin-top: 56px;
}
.home__newsArticle {
  width: 500px;
  margin: 0 auto;
}
.home__newsItem {
  border-bottom: 2px solid #ececec;
}
.home__newsItem:not(:first-child) {
  margin-top: 24px;
}
.home__newsDate {
  min-width: 66px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -1px;
}
.home__newsCategoryName {
  padding: 2px 4px;
  margin-left: 12px;
  font-weight: 600;
}
.home__newsLink {
  display: block;
  padding-bottom: 4px;
  margin: 8px auto 0;
  font-size: 13px;
  color: #000000;
}
.home__newsList {
  margin-bottom: 32px;
}
.home__newsCategoryName {
  font-size: 10px;
  color: #ffffff;
  background-color: #1f2a66;
}
.home__newsCategoryName.-secondary {
  background-color: #836c39;
}
.home__newsTitle {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home__access {
  padding: 40px 0 64px;
  margin-top: 48px;
  background-image: url(assets/images/home/access_bg.jpg);
  background-size: cover;
}
.home__access .heading__wrapper {
  margin: 0;
}
.home__mapWrapper {
  width: 50%;
  margin: 24px auto 0;
}
.home__map {
  position: relative;
  height: 0;
  padding-bottom: 61.45%;
  overflow: hidden;
}
.home__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home__accessAddress {
  margin-top: 24px;
  font-size: 15px;
  color: #ffffff;
}
.home__accessAddressText {
  display: block;
  text-align: center;
}
.home__accessGoogleMap {
  margin-top: 12px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}
.home__accessGoogleMapLink {
  position: relative;
  color: #ffffff;
}
.home__accessGoogleMapLink::after {
  position: absolute;
  bottom: -5px;
  left: 50%;
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #51555d;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.home__accessTrain {
  margin-top: 40px;
}
.home__accessTrain .subHeading {
  color: #ffffff;
}
.home__accessTrainImages {
  margin-top: 32px;
  text-align: center;
}
.home__accessTrainImage {
  max-width: 114px;
}
.home__accessTrainText {
  display: block;
  margin-top: 8px;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}
.home__prevention {
  padding: 48px 0;
  background-color: #bec1d3;
}
.home__preventionHeading {
  margin: 0;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
  text-shadow: #fffbff 0px 0px 10px;
  letter-spacing: 1px;
}
.home__preventionList {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 466px;
  margin: 16px auto 0;
}
.home__preventionText {
  display: inline-block;
  font-size: 13px;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
}
.home__contactPhoneNumber {
  margin-top: 32px;
  font-size: 70px;
  line-height: 1;
  color: #836c39;
}
.home__contactReceptionTime {
  display: block;
  margin-top: 6px;
}
.home__contactButtonWrapper {
  margin-top: 16px;
  text-align: center;
}
.home__contactButton {
  display: inline-block;
  padding: 12px 32px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(135deg, black 0%, #030201 18.6%, #0d0a05 32.51%, #1d180c 44.9%, #332a16 56.4%, #514323 67.29%, #746033 77.59%, #836c39 81.24%, #bf902d 100%);
}
.home__contactButton:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .home__about .button__wrapper {
    margin-top: 32px;
  }
  .home__aboutFeatures {
    flex-wrap: wrap;
    margin: 24px auto 0;
  }
  .home__aboutFeature {
    width: 28%;
  }
  .home__linksList {
    flex-direction: column;
    padding: 0 3.2vw 0 13.87vw;
  }
  .home__linksItem {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 32px;
  }
  .home__linksLink {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.2vw 0;
  }
  .home__linksIcon {
    position: absolute;
    top: 61%;
    left: -50px;
    display: flex;
    width: 28vw;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .home__linksIcon svg {
    width: 100%;
  }
  .home__linksHeading {
    font-size: 12vw;
  }
  .home__linksSubHeading {
    font-size: 4.54vw;
  }
  .home__linksText {
    width: 54%;
    margin-left: 10%;
  }
  .home__news .heading__wrapper {
    margin-top: 40px;
  }
  .home__newsArticle {
    width: 76%;
  }
  .home__newsList {
    margin: 32px 0 40px;
  }
  .home__access {
    padding: 56px 0;
  }
  .home__mapWrapper {
    width: 100%;
  }
  .home__map {
    padding-bottom: 96%;
  }
  .home__accessAddress {
    font-size: 14px;
  }
  .home__accessGoogleMap {
    margin-top: 16px;
    font-size: 14px;
  }
  .home__accessTrainImages {
    margin-top: 16px;
  }
  .home__accessTrainImage {
    width: 33%;
    max-width: initial;
  }
  .home__accessTrainText {
    font-size: 14px;
  }
  .home__prevention {
    padding: 24px 0;
  }
  .home__preventionHeading {
    line-height: 1.2;
  }
  .home__preventionList {
    flex-wrap: wrap;
    justify-content: center;
  }
  .home__preventionItem {
    margin: 0 3% 20px;
  }
  .home__contact .heading__wrapper {
    margin-top: 48px;
  }
  .home__contactPhoneNumber {
    font-size: 42px;
  }
  .home__contactButtonWrapper {
    margin-top: 20px;
  }
  .home__contactButton {
    font-size: 15px;
  }
}
.company__wrapper {
  max-width: 512px;
  padding: 100px 0 80px;
  margin: 0 auto;
}
.company__overview {
  margin-top: 64px;
}
.company__overview table {
  margin-top: 32px;
  border-collapse: collapse;
}
.company__overview th,
.company__overview td {
  border: 2px solid #cacaca;
}
.company__overview th {
  min-width: 92px;
  padding: 0 0 0 18px;
  text-align: left;
  background-color: #e1e1e1;
}
.company__overview td {
  padding: 4px 20px;
  font-size: 13px;
}
.company__overview td.-wide {
  padding: 12px 20px;
}
.company__subHeading {
  display: flex;
  font-weight: 600;
}
.company__subHeading::before, .company__subHeading::after {
  display: inline-block;
  width: 28px;
  height: 26px;
  content: "";
  background-size: cover;
}
.company__subHeading::before {
  margin-right: 10px;
  background-image: url(assets/images/icons/icon_tree-left.svg);
}
.company__subHeading::after {
  margin-left: 10px;
  background-image: url(assets/images/icons/icon_tree-right.svg);
}
.company__subHeading {
  margin-top: 80px;
}
.company__officerHeading {
  padding-bottom: 4px;
  margin: 32px 0 0;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #000000;
}
.company__snsList {
  display: flex;
  justify-content: center;
}
.company__snsItem {
  width: 24px;
}
.company__snsItem:not(:first-child) {
  margin-left: 12px;
}
.company__officerBlock {
  display: flex;
  align-items: center;
}
.company__officerCareer {
  margin-left: 20px;
  font-size: 13px;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
}
.company__officerCareer dl {
  display: flex;
  margin: 2px 0;
}
.company__officerCareer dt {
  width: 74px;
}
.company__officerCareer dd {
  margin-left: 0;
}
.company__officerImage {
  width: 36%;
}
.company__officerWrapper:not(:first-of-type) {
  margin-top: 64px;
}
.company__historyDetails {
  margin-top: 44px;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
}
.company__historyDetails dl {
  display: flex;
  margin: 2px 0;
}
.company__historyDetails dt {
  width: 88px;
}
.company__historyDetails dd {
  margin-left: 4px;
}

@media screen and (max-width: 480px) {
  .company__wrapper {
    padding: 64px 0 40px;
  }
  .company__subHeading {
    justify-content: center;
  }
  .company__subHeading {
    margin-top: 64px;
  }
  .company__overview table {
    width: 80%;
    margin: 0 auto;
  }
  .company__overview tr {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .company__overview tr:not(:last-child) td {
    border-bottom: none;
  }
  .company__overview th,
.company__overview td {
    text-align: center;
    border: 1px solid #cacaca;
  }
  .company__overview th {
    padding: 4px 0;
  }
  .company__overview td {
    border-top: none;
  }
  .company__overview td.-wide {
    padding: 8px 10px;
  }
  .company__officerHeading {
    width: 80%;
    margin: 32px auto 0;
    font-size: 16px;
  }
  .company__officerBlock {
    flex-direction: column;
  }
  .company__officerImage {
    width: 44.27%;
    margin: 8px auto 0;
  }
  .company__officerCareer {
    width: 80%;
    margin: 24px auto 0;
  }
  .company__officerCareer dl {
    flex-direction: column;
    margin: 6px 0;
  }
  .company__historyDetails dl {
    flex-direction: column;
    width: 80%;
    margin: 12px auto;
  }
}
.about__wrapper {
  padding: 100px 0;
  background-image: url(assets/images/about/about_bg.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.about__wrapper .heading__wrapper {
  margin: 0;
}
.about__description {
  position: relative;
  width: 80%;
  max-width: 542px;
  padding: 80px 20px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
}
.about__descriptionParagraph {
  margin: 24px auto 0;
  text-align: center;
}
.about__descriptionParagraph:first-of-type {
  margin-top: 40px;
}
.about__descriptionFrame {
  position: absolute;
  background-color: #836c39;
}
.about__descriptionFrame.-top, .about__descriptionFrame.-bottom {
  left: 50%;
  width: 87%;
  height: 3px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.about__descriptionFrame.-left, .about__descriptionFrame.-right {
  top: 50%;
  width: 3px;
  height: 94.2%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.about__descriptionFrame.-top {
  top: 24px;
}
.about__descriptionFrame.-bottom {
  bottom: 24px;
}
.about__descriptionFrame.-left {
  left: 24px;
}
.about__descriptionFrame.-right {
  right: 24px;
}
.about__keyImage {
  position: absolute;
  right: -32px;
  bottom: 32px;
  width: 170px;
}

@media screen and (max-width: 480px) {
  .about__wrapper {
    padding: 56px 0 140px;
  }
  .about__description {
    width: 90%;
    padding: 56px 6px;
    -webkit-font-feature-settings: "palt";
    font-feature-settings: "palt";
    background-color: rgba(255, 255, 255, 0.9);
  }
  .about__description.-top {
    top: 14px;
  }
  .about__description-bottom {
    bottom: 14px;
  }
  .about__descriptionParagraph {
    font-size: 3.74vw;
  }
  .about__descriptionParagraph:first-of-type {
    margin-top: 64px;
  }
  .about__keyImage {
    right: 18px;
    bottom: -40px;
    width: 37.34vw;
  }
}
.price__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

/*
Theme Name: Mamori
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Mamori original theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Mamori
*/