@use "variables";

.about {
  &__wrapper {
    padding: 100px 0;
    background-image: url(assets/images/about/about_bg.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    .heading__wrapper {
      margin: 0;
    }
  }

  &__description {
    position: relative;
    width: 80%;
    max-width: 542px;
    padding: 56px 20px 88px;
    margin: 0 auto;
    background-color: rgba($color: variables.$white, $alpha: 0.7);
  }

  &__descriptionParagraph {
    margin: 24px auto 0;
    text-align: center;

    &:first-of-type {
      margin-top: 40px;
    }
  }

  &__descriptionFrame {
    position: absolute;
    background-color: variables.$color-secondary;

    &.-top,
    &.-bottom {
      left: 50%;
      width: 87%;
      height: 3px;
      transform: translateX(-50%);
    }

    &.-left,
    &.-right {
      top: 50%;
      width: 3px;
      height: 94.2%;
      transform: translateY(-50%);
    }

    &.-top {
      top: 24px;
    }

    &.-bottom {
      bottom: 24px;
    }

    &.-left {
      left: 24px;
    }

    &.-right {
      right: 24px;
    }
  }

  &__keyImage {
    position: absolute;
    right: -32px;
    bottom: 32px;
    width: 170px;
  }
}

@include variables.mq(variables.$mobile) {
  .about {
    &__wrapper {
      padding: 56px 0 140px;
    }

    &__description {
      width: 90%;
      padding: 48px 6px 56px;
      font-feature-settings: "palt";
      background-color: rgba($color: variables.$white, $alpha: 0.9);

      &.-top {
        top: 14px;
      }

      &-bottom {
        bottom: 14px;
      }
    }

    &__descriptionFrame {
      &.-top {
        top: 16px;
      }

      &.-bottom {
        bottom: 16px;
      }
    }

    &__descriptionParagraph {
      font-size: 3.74vw;

      &:first-of-type {
        margin-top: 64px;
      }
    }

    &__keyImage {
      right: 18px;
      bottom: -40px;
      width: 37.34vw;
    }
  }
}
