@import "_variables";

.footer {
  padding-top: 36px;
  margin-top: 64px;
  background-color: $--color-primary;

  &__toTop {
    width: 72px;
    margin: -72px auto 0;
  }

  &__logo {
    width: 126px;

    a {
      display: flex;
      align-items: center;
      width: 100%;
    }

    svg {
      display: flex;
      width: 100%;
    }
  }

  &__upper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  }

  &__upperLinkNav {
    display: flex;
    margin-left: 56px;
  }

  &__upperLinkList {
    margin: 0;

    &:not(:first-child) {
      margin-left: 40px;
    }
  }

  &__upperLinkItem {
    a {
      color: $white;
    }

    &:not(:first-child) {
      margin-top: 6px;
    }
  }

  &__lowerLinkList {
    display: flex;
    justify-content: center;
    margin: 24px 0 12px;
  }

  &__lowerLinkItem {
    padding: 0 10px;

    a {
      color: $white;
    }

    &:not(:first-child)::before {
      margin-right: 10px;
      color: $white;
      content: "|";
    }
  }

  &__copyrightWrapper {
    padding: 6px 0;
    color: $--color-secondary;
    text-align: center;
    background-color: #000000;
  }
}

@include mq(mobile) {
  .footer {
  }
}
