@use "variables";

.home {
  &__wrapper {
    padding-bottom: 32px;
  }

  &__mainVisual {
    position: relative;
    width: 100%;
    height: 56.2vw;
    background-color: variables.$black;
  }

  &__loader {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    z-index: 100;
    display: inline-block;
    width: 48px;
    height: 48px;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: rotation 1s linear infinite;
  }

  &__mainVideo {
    position: relative;
    z-index: 10;
    width: 100%;
  }

  &__mainImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__mainVideoSkip {
    position: absolute;
    bottom: 32px;
    left: 32px;
    z-index: 40;
    padding: 6px 24px;
    font-size: 20px;
    background-color: variables.$white;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__contentsWrapper {
    position: relative;
  }

  &__about {
    .button__wrapper {
      margin-top: 24px;
    }
  }

  &__aboutFeatures {
    display: flex;
    justify-content: center;
    margin: 72px auto 0;
  }

  &__aboutFeature {
    display: block;
    width: 12%;

    &:not(:first-child) {
      margin-left: 16px;
    }
  }

  &__aboutParagraph {
    margin-top: 24px;
    line-height: 1.57;
    text-align: center;
  }

  &__vrViewImage {
    display: block;
    margin: 60px auto 0;
    filter: brightness(0.6);
    opacity: 0.7;
  }

  &__vrViewCaution {
    margin-top: 6px;
    text-align: center;
  }

  &__linksList {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 630px;
    margin: 60px auto 0;
  }

  &__linksItem {
    width: 31.75%;
    background-color: variables.$color-primary;
  }

  &__linksIcon {
    width: 30%;
    margin: -12px auto 0;
  }

  &__linksHeading {
    margin: 0 auto;
    font-size: 56px;
    font-size: min(7.33vw, 56px);
    font-weight: 500;
    line-height: 0.9;
    color: variables.$white;
    text-align: center;
  }

  &__linksSubHeading {
    display: block;
    margin: 8px auto 0;
    font-size: 17px;
    color: variables.$white;
    text-align: center;
  }

  &__linksItem {
    padding-bottom: 24px;
  }

  &__news {
    .heading__wrapper {
      margin-top: 56px;
    }
  }

  &__newsArticle {
    width: 500px;
    margin: 0 auto;
  }

  &__newsItem {
    border-bottom: 2px solid #ececec;

    &:not(:first-child) {
      margin-top: 24px;
    }
  }

  &__newsDate {
    min-width: 66px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -1px;
  }

  &__newsCategoryName {
    padding: 2px 4px;
    margin-left: 12px;
    font-weight: 600;
  }

  &__newsLink {
    display: block;
    padding-bottom: 4px;
    margin: 8px auto 0;
    font-size: 13px;
    color: #000000;
  }

  &__newsList {
    margin-bottom: 32px;
  }

  &__newsCategoryName {
    font-size: 10px;
    color: variables.$white;
    background-color: variables.$color-primary;

    &.-secondary {
      background-color: variables.$color-secondary;
    }

    &.-tertiary {
      background-color: #b2b2b2;
    }
  }

  &__newsTitle {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__access {
    padding: 40px 0 64px;
    margin-top: 48px;
    background-image: url(assets/images/home/access_bg.jpg);
    background-size: cover;

    .heading__wrapper {
      margin: 0;
    }
  }

  &__mapWrapper {
    width: 50%;
    margin: 24px auto 0;
  }

  &__map {
    position: relative;
    height: 0;
    padding-bottom: 61.45%;
    overflow: hidden;
  }

  &__map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__accessAddress {
    margin-top: 24px;
    font-size: 15px;
    color: variables.$white;
  }

  &__accessAddressText {
    display: block;
    text-align: center;
  }

  &__accessGoogleMap {
    margin-top: 12px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
  }

  &__accessGoogleMapLink {
    position: relative;
    color: variables.$white;

    &::after {
      position: absolute;
      bottom: -5px;
      left: 50%;
      display: block;
      width: 100%;
      height: 2px;
      content: "";
      background-color: #51555d;
      transform: translateX(-50%);
    }
  }

  &__accessTrain {
    margin-top: 40px;

    .subHeading {
      color: variables.$white;
    }
  }

  &__accessTrainImages {
    margin-top: 32px;
    text-align: center;
  }

  &__accessTrainImage {
    max-width: 148px;
  }

  &__accessTrainText {
    display: block;
    margin-top: 8px;
    font-size: 15px;
    color: variables.$white;
    text-align: center;
  }

  &__prevention {
    padding: 48px 0;
    background-color: #bec1d3;
  }

  &__preventionHeading {
    margin: 0;
    font-size: 20px;
    color: variables.$white;
    text-align: center;
    font-feature-settings: "palt";
    text-shadow: #fffbff 0px 0px 10px;
    letter-spacing: 1px;
  }

  &__preventionList {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 466px;
    margin: 16px auto 0;
  }

  &__preventionText {
    display: inline-block;
    font-size: 13px;
    line-height: 1.2;
    color: variables.$white;
    text-align: center;
  }

  &__contactPhoneNumber {
    margin-top: 32px;
    font-size: 70px;
    font-weight: 500;
    line-height: 1;
    color: variables.$color-secondary;
  }

  &__contactReceptionTime {
    display: block;
    margin-top: 6px;
  }

  &__contactButtonWrapper {
    margin-top: 16px;
    text-align: center;
  }

  &__contactButton {
    display: inline-block;
    padding: 12px 32px;
    font-size: 20px;
    font-weight: 600;
    color: variables.$white;
    background: -webkit-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(3, 2, 1, 1) 18.6%,
      rgba(13, 10, 5, 1) 32.51%,
      rgba(29, 24, 12, 1) 44.9%,
      rgba(51, 42, 22, 1) 56.4%,
      rgba(81, 67, 35, 1) 67.29%,
      rgba(116, 96, 51, 1) 77.59%,
      rgba(131, 108, 57, 1) 81.24%,
      rgba(191, 144, 45, 1) 100%
    );
    background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(3, 2, 1, 1) 18.6%,
      rgba(13, 10, 5, 1) 32.51%,
      rgba(29, 24, 12, 1) 44.9%,
      rgba(51, 42, 22, 1) 56.4%,
      rgba(81, 67, 35, 1) 67.29%,
      rgba(116, 96, 51, 1) 77.59%,
      rgba(131, 108, 57, 1) 81.24%,
      rgba(191, 144, 45, 1) 100%
    );

    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@include variables.mq(variables.$mobile) {
  .home {
    &__loader {
      top: calc(50% - 6px);
      left: calc(50% - 12px);
      width: 24px;
      height: 24px;
    }
    &__mainVideoSkip {
      bottom: 3vw;
      left: 3vw;
      padding: 2px 12px;
      font-size: 4vw;
    }

    &__about {
      .button__wrapper {
        margin-top: 32px;
      }
    }

    &__aboutFeatures {
      flex-wrap: wrap;
      margin: 24px auto 0;
    }

    &__aboutFeature {
      width: 27%;
    }

    &__linksList {
      flex-direction: column;
      padding: 0 3.2vw 0 13.87vw;
    }

    &__linksItem {
      width: 100%;
      padding-bottom: 0;
      margin-bottom: 32px;
    }

    &__linksLink {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3.2vw 0;
    }

    &__linksIcon {
      position: absolute;
      top: 61%;
      left: -50px;
      display: flex;
      width: 28vw;
      transform: translateY(-50%);

      svg {
        width: 100%;
      }
    }

    &__linksHeading {
      font-size: 12vw;
    }

    &__linksSubHeading {
      font-size: 4.54vw;
    }

    &__linksText {
      width: 54%;
      margin-left: 10%;
    }

    &__news {
      .heading__wrapper {
        margin-top: 40px;
      }
    }

    &__newsArticle {
      width: 76%;
    }

    &__newsList {
      margin: 32px 0 40px;
    }

    &__access {
      padding: 56px 0;
    }

    &__mapWrapper {
      width: 100%;
    }

    &__map {
      padding-bottom: 96%;
    }

    &__accessAddress {
      font-size: 14px;
    }

    &__accessGoogleMap {
      margin-top: 16px;
      font-size: 14px;
    }

    &__accessTrainImages {
      margin-top: 16px;
    }

    &__accessTrainImage {
      width: 33%;
      max-width: initial;
    }

    &__accessTrainText {
      font-size: 14px;
    }

    &__prevention {
      padding: 24px 0 12px;
    }

    &__preventionHeading {
      line-height: 1.2;
    }

    &__preventionList {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__preventionItem {
      margin: 0 3% 20px;
    }

    &__contact {
      .heading__wrapper {
        margin-top: 48px;
      }
    }

    &__contactPhoneNumber {
      font-size: 42px;
    }

    &__contactButtonWrapper {
      margin-top: 20px;
    }

    &__contactButton {
      font-size: 15px;
    }
  }
}
