@use "variables";

body.fixed {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
}

.-en {
  font-family: "Barlow Condensed", sans-serif;
}

.heading {
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 90px;
  font-weight: 500;
  line-height: 1.1;
  color: variables.$color-primary;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    content: "";
    background-color: #e1e1e1;
  }

  &.-light {
    color: variables.$white;

    &::after {
      background-color: #8a8a8a;
    }

    & + .heading__subHeading {
      color: variables.$white;
    }
  }

  &__wrapper {
    margin-top: 48px;
    text-align: center;

    &.-company {
      margin-top: 0;

      .heading {
        font-size: 36px;
        font-weight: 600;
        color: variables.$color-secondary;

        &::after {
          bottom: -12px;
        }
      }
    }
  }

  &__subHeading {
    display: block;
    margin-top: 4px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
  }
}

.subHeading {
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 30px;

  &::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 7px;
    content: "";
    background-color: #c1c1c1;
  }

  &__wrapper {
    text-align: center;
  }
}

.subHeadingHasIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px 0 0;
  color: variables.$white;
  color: #000000;
  text-align: center;

  &.-bottom {
    align-items: flex-end;
  }

  &.-light {
    color: variables.$white;

    polygon {
      fill: variables.$white;
    }
  }

  h2 {
    margin: 0 16px 0;
    margin-bottom: 0;
    font-size: 25px;
    line-height: 1.16;
  }

  &Icon {
    width: 28px;
  }
}

.side-conversion {
  position: absolute;
  top: -50px;
  right: 24px;
  display: inline-flex;
  flex-direction: column;
  margin: 0 0 0 auto;

  &.-fixed {
    position: fixed;
    top: 24px;
  }
}

.side-conversion-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 57%;
  width: 66px;
  height: 66px;
  color: variables.$white;
  border: none;
  border-radius: 8px;

  &.-primary {
    background-color: variables.$color-secondary;
  }

  &.-secondary {
    background-color: #000;
  }

  svg {
    width: 12px;
  }

  &:not(:first-child) {
    margin-top: 8px;
  }

  &:hover {
    cursor: pointer;
  }
}

.side-conversion-text {
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 1;
  text-align: center;

  &.-comp {
    display: inline-block;
    margin-bottom: 0;
    text-indent: -3px;
    letter-spacing: -3px;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 6px 20px;
  font-size: 17px;
  font-weight: 600;
  color: variables.$white;
  background-color: #000;

  svg {
    width: 8px;
  }

  &__wrapper {
    text-align: center;
  }

  &__text {
    margin-right: 12px;
  }
}

.link-button {
  display: inline-block;
  width: 284px;
  padding: 8px 0;
  font-size: 20px;
  font-weight: 600;
  color: variables.$white;
  text-align: center;
  background-color: #000000;

  &:not(:first-child) {
    margin-left: 24px;
  }
}

.bottom-conversion {
  display: none;
}

.wp-block-image {
  margin: 24px 0;
}

.site-main .form-input input:read-only,
.site-main .form-input textarea:read-only {
  background-color: #f2f2f2;
}

.form {
  &-caution {
    display: block;
    margin: 24px 0 16px 12px;
    font-size: 13px;
    font-weight: 600;
    color: #a70000;
  }

  &-required-label {
    padding: 0 4px;
    font-size: 10px;
    color: variables.$white;
    background-color: #000000;
  }

  &-item {
    display: flex;
    align-items: center;
    background-color: #dcdcdc;
    border: 1px solid #d6d6d6;
    border-right: none;

    &:not(:first-of-type) {
      border-top: none;
    }

    &.email {
      border-bottom: none;
    }

    &.question {
      textarea {
        height: 102px;
      }
    }

    &.-sp {
      display: none;
    }

    &.fixed {
      height: 42px;
      font-weight: 600;
    }
  }

  &-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 180px;
    height: 100%;
    padding: 16px 12px;
    font-weight: 600;

    &.email {
      padding: 12px 12px 4px 12px;
    }

    &.email-confirm {
      padding: 4px 12px 18px 12px;
    }
  }

  &-label-double {
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
  }

  &-input-wrapper {
    width: 76%;
    height: 100%;
    padding: 10px 36px 10px 24px;
    background-color: variables.$white;

    &.double-col {
      display: flex;

      .form-input {
        width: 50%;
        margin-right: 24px;

        input {
          max-width: 100%;
        }
      }

      .your-name {
        margin-right: 0;
      }
    }

    &.email {
      padding: 4px 26px 8px 24px;
    }

    &.email-confirm {
      padding: 8px 26px 6px 24px;
    }

    &.textarea {
      padding: 8px 34px 0 24px;
    }

    &.double-line {
      padding: 20px 36px 20px 24px;
    }

    &.checkbox {
      padding: 26px 12px 26px 24px;
    }
  }

  &-items {
    font-weight: 600;
    font-feature-settings: "palt";

    &:not(:first-of-type) {
      margin-top: 12px;
    }

    .form-input-label {
      display: inline-block;
      margin-bottom: 6px;
    }
  }

  &-input {
    display: flex;
    align-items: center;

    input {
      max-width: 100%;
    }

    input,
    textarea {
      &:read-only {
        background-color: #e8f0fe;
      }
    }

    input,
    textarea,
    select {
      width: 100%;
      padding: 8px 0.5em;
      background-color: #f2f2f2;
      border: 1px solid #c5c5c5;
    }

    input[type="checkbox"] {
      width: auto;
      margin-right: 4px;
    }

    &.email {
      padding: 16px 0 0 0;
    }

    &.email-confirm {
      padding: 0 0 16px 0;
      border-top: none;
    }

    &.select {
      position: relative;
      width: 48%;

      &::after {
        position: absolute;
        top: 14px;
        right: 6px;
        width: 11px;
        height: 8px;
        content: "";
        background-image: url(assets/images/icons/icon_angle-dark.svg);
        background-size: cover;
      }
    }
  }

  &-submit-btn-wrapper {
    margin: 48px auto 0;
    text-align: center;

    .wpcf7-submit,
    .wpcf7-confirm {
      display: inline-block;
      width: 256px;
      padding: 12px 0;
      font-size: 17px;
      font-weight: 600;
      color: variables.$white;
      background-color: #000000;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }

    .wpcf7-back {
      display: inline-block;
      width: 160px;
      padding: 12px 0;
      margin-right: 24px;
      font-size: 15px;
      font-weight: 600;
      color: #000000;
      background-color: variables.$white;
      border: 1px solid #000000;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.wpcf7-form-control-wrap {
  width: 100%;
  max-width: 100%;
}

.wpcf7-not-valid-tip {
  font-size: 12px;
  color: #a70000;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  border-color: #e8cb8b;
}

span.wpcf7-list-item {
  &.first {
    margin-left: 0;
  }

  label {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
  }
}

.content {
  &-footerLogo {
    width: 156px;
    margin: 0 auto;
  }

  &-footerPhoneNumber {
    display: block;
    margin: 4px 0 0;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
  }

  &-footerReceptionTime {
    display: block;
    text-align: center;
  }
}

.join-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  background-color: white;
  transform: translate(-50%, -50%);
}

.modal-check {
  font-size: 15px;
}

.modal-close-button {
  position: absolute;
  top: -48px;
  right: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  span {
    position: absolute;
    top: 19px;
    left: 0;
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: variables.$white;

    &:first-child {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}

.modal-body {
  padding: 48px 56px 32px;
}

.modal-paragraph {
  margin: 0;
  font-size: 15px;
  text-align: center;
}

.modal-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px auto 0;

  input {
    margin-right: 6px;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + .join-form-label::after {
    opacity: 1;
  }
}

.join-form-label {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  padding: 5px 30px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    left: 5px;
    display: block;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    content: "";
    background: #000000;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    width: 5px;
    height: 9px;
    margin-top: -7px;
    content: "";
    border-right: 1px solid variables.$white;
    border-bottom: 1px solid variables.$white;
    opacity: 0;
    transform: rotate(45deg);
  }
}

.join-submit {
  display: flex;
  justify-content: center;
  width: 256px;
  padding: 16px 0;
  margin: 24px auto 0;
  font-size: 17px;
  font-weight: 600;
  color: variables.$white;
  background-color: #000000;
  border: none;
  opacity: 1;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.2;

    &:hover {
      cursor: default;
    }
  }
}

.join-submit-icon {
  width: 16px;
}

.modal-link {
  position: relative;
  font-weight: 600;
  color: #000000;

  &::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #808080;
  }
}

.join-submit-inner {
  margin-right: 6px;
}

@include variables.mq(variables.$mobile) {
  .side-conversion {
    display: none;
  }

  .heading {
    font-size: 68px;
    letter-spacing: 1px;

    &::after {
      bottom: -4px;
      left: 50%;
      width: 80%;
      transform: translateX(-50%);
    }

    &__wrapper {
      margin-top: 32px;

      &.-company {
        .heading {
          font-size: 30px;

          &::after {
            width: 100%;
          }
        }
      }
    }

    &__subHeading {
      margin-top: 6px;
    }
  }

  .button {
    font-size: 15px;
  }

  .subHeading {
    font-size: 25px;
  }

  .subHeadingIcons {
    margin: 40px 0 0;

    h2 {
      margin: 0 8px;
      font-size: 20px;
    }
  }

  .bottom-conversion {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
  }

  .bottom-conversion-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.66vw 0;
    color: variables.$white;

    svg {
      width: 26%;
      margin-right: 4px;
    }

    &.-tel {
      width: 20%;
      background-color: variables.$color-primary;
    }

    &.-contact {
      width: 44%;
      background-color: #b2b2b2;
    }

    &.-mypage {
      width: 36%;
      background-color: variables.$color-secondary;
    }
  }

  .bottom-conversion-text {
    font-size: 10px;

    &.-en {
      font-size: 17px;
    }
  }

  .link-button {
    &:not(:first-child) {
      margin: 24px auto 0;
    }
  }

  .content {
    &-footerLogo {
      width: 29.34%;
    }

    &-footerPhoneNumber {
      font-size: 35px;
    }
  }

  .form {
    &-caution {
      width: 80%;
      margin: 32px auto 24px;
    }

    &-required-label {
      margin-left: 6px;
    }

    &-wrapper {
      width: 80%;
      margin: 0 auto;
    }

    &-item {
      flex-direction: column;
      align-items: flex-start;
      background-color: transparent;
      border: none;

      &.textarea {
        height: auto;
      }

      &.-pc {
        display: none;
      }

      &.-sp {
        display: block;
      }

      &.fixed {
        height: auto;
      }
    }

    &-label {
      justify-content: flex-start;
      padding: 0;
      margin-bottom: 8px;
      font-size: 16px;

      &.email {
        padding: 0;
      }

      &.email-confirm {
        padding: 0;
      }
    }

    &-label-double {
      background-color: transparent;
    }

    &-input-wrapper {
      width: 100%;
      padding: 0;
      margin-bottom: 32px;

      &.double-col {
        flex-direction: column;

        .form-input {
          width: 100%;
          margin-right: 0;

          &.your-name {
            margin-top: 8px;
          }
        }
      }

      &.double-line {
        padding: 0;
      }

      &.textarea {
        padding: 0;
      }

      &.email {
        padding: 0;
      }

      &.email-confirm {
        padding: 0;
      }

      &.checkbox {
        padding: 0;
      }
    }

    &-input {
      &.select {
        width: 100%;

        &::after {
          right: 11px;
        }
      }

      &.email {
        padding: 0;
      }

      input,
      textarea,
      select {
        padding: 8px 0.5em;
      }

      textarea {
        height: 160px;
      }
    }

    &-submit-btn-wrapper {
      margin: 24px auto 0;

      .wpcf7-submit {
        width: 46%;
        padding: 18px 0;
        font-size: 18px;
      }

      .wpcf7-back {
        display: block;
        width: 46%;
        padding: 17px 0;
        margin: 0 auto 24px;
        font-size: 18px;
      }
    }
  }

  span.wpcf7-list-item {
    display: block;
    margin: 4px 0;
  }

  div.wpcf7 .ajax-loader {
    display: block;
    margin: 0 auto;
  }
}
